<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="contenedor-pc">
                <div class="logo-ml">
                    <a href="/">
                    <img src="img/logo-mercado-liebre.svg" alt="logo">
                    </a>
                </div>
                <div class="barra-buscar">
                    Buscar productos, 
                    <i class="fas fa-search"></i>
                </div>
            <div class="title">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <ul>
                <div class="nav-left">
                    <a href="#"> <li>Ofertas</li></a>
                    <a href="#"> <li>Tiendas Oficiales</li></a>
                    <a href="#"><li>Vender</li></a>
                    <a href="#"><li>Ayuda</li></a>
                </div>
                <div class="nav-right">
                    <a href="#">
                        <li class="special-li">Creá tu cuenta
                            <i class="fas fa-id-card"></i>
                        </li>
                    </a>
                    <a href="/login">
                        <li class="special-li">Ingresá
                            <i class="fas fa-sign-in-alt"></i>
                        </li>  
                    </a>
                    <a href="#">
                        <li class="special-li">Mis compras
                            <i class="fas fa-shopping-basket"></i>
                        </li>
                    </a>
                </div>
            </ul>
            <div class="menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="main-img">
                <img  src="img/img-home-banner.jpg" alt="imgbanner">
            </div>
        </nav>
    </header>
   <!--fin de  header Nav-->
   <!--  Inicio del main -->
   <form action="/">
    <label for="nombre"></label>
    <input type="text" name="nombre" placeholder="ingrese nombre">
    <label for="user"></label>
    <input type="text" name="user" placeholder="nombre de usuario">
    <label for="email"></label>
    <input type="email" name="email" placeholder="nombre de correo">
    <label for="date"></label>
    <input type="date" name="date" placeholder="">
    <label for="adress"></label>
    <input type="text" name="adress" placeholder="Domicilio">
    <label for="comprador">
        <input type="radio" name="comprador">comprador
    </label>
    <label for="comprador">
        <input type="radio" name="comprador">vendedor
    </label>
    <label for="">
        <input type="checkbox" value="1">Electro
    </label>
    <label for="">
        <input type="checkbox" value="2">Moda
    </label>
    <label for="">
        <input type="checkbox" value="3">Hogar  
    </label>
    <label for="">
        <input type="checkbox" value="4">Jugueteria  
    </label>
    <label for="">
        <input type="checkbox" value="4">Vida sana  
    </label>
    <label for="">
        <input type="file" value="4">Jugueteria  
    </label>

    

</form>

<!-- fin de form -->
    
    <footer>
        <section class="footer">
            <div class="footer-one">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjta o en efectivo</h4>
                <p>Con Mercado libre Cash, tenés coutas sin interés con tarjeta o efectivo en puntos de pago.!Y siempre es seguro!</p>
            </div>
            <div class="footer-one">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-one">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </div>
        </section>
            <h6>Copyright 1999-2020 MercadLiebre S.R.L</h6>
        
    </footer>
</body>
</html>