/*
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;

tipografia 
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px 
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(212, 205, 205);
}
header{
    background-color: #EAC926;
}

/* Inicio Header */
.contenedor-pc{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

.logo-ml{
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.barra-buscar {
    width: 45%;
    height: 40px;
    font-size: 16px;
    color:#666;
    margin-left: 10px;
    border: hidden;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #ffff;
}
.icon-buscar{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 1px;
    margin-left: 20px;
    margin-top: 5px; 
    display: inline;
}
.title{
    width:100%;
   text-align: center;
   font-size: 16px;
   margin: 20px 0;
}
.title p{
    display: inline;  
}
@media screen and (min-width:381px) {
    .contenedor-pc {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .logo-ml{
        width: 200px;
    }
    .barra-buscar{
        margin: 0px;
    }
}


/* Fin Header */

/* Incio Nav */

nav ul a{
    text-decoration: none;
    color: black;   
    display: none;
    margin-bottom: 20px;
}
.menu{
    background-color: blue;
    width: 10%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.menu i {
 color: white;
}

/*Pre-Main */

.main-img{
    width: 100%;
    height: 90px;
}
.main-img img{
    width: 100%;
    height: 90px;
}

/*Fin pre-main */

/* inicio main  */
main{
    width: 100%;
    margin: 0 auto;
}

main article{
    margin: 5px auto;
    width: 95%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
}
section h3 {
    width: 100%;
    font-size: 24px;
    margin: 10px auto;
    text-align: center;
}
 main article img {
     width: 100%;
     border-bottom: 1px solid #ebebeb; 
 }
 article h5 {
    display: none;
     
 }
 article:hover{
     box-shadow: 0px 0px 10px rgb(100, 100,100);
     transition: all 1000ms;
 }
article:hover h5{
    display: block;
}

article i{
   transition: all 500ms;
}
article:hover .fas   {
    transform: rotateZ(-70deg);
}
.contenedor-info{
 display: flex;
 width: 90%;
 position: relative;
}

.precio {
    font-size: 18px;
    width: 30%;
    padding-left: 10px;
}

.descuento{
    color: #39b54a;
    font-weight: 500;
    font-size: 16px;
    width: 70%;
}
.border-ra{
    color:#39b54a;
    border: 2px solid #39b54a;
    padding: 5px;
    font-size: 16px;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ffff;
    position: absolute;
    right: 20px;
    top: 325px;
}
@media screen and (min-width:381px){
    .menu{
        display: none;
    }
    .logo-ml{
        width: 30%;
    }
    .barra-buscar{
        margin-left: 2%;
        width: 20%;
        height: 30px;
        padding-top: 5px;
    }
    .title{
        width: 45%;
        align-self: center;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
    }
    .nav-left{
        width: 45%;
        display: flex;
        justify-content: space-around;
    }
    .nav-right{
        width: 45%;
        display: flex;
        justify-content: space-around;
    }
    li{
        list-style: none;
    }
    nav ul a{
        display: none;
    }
    
    article h5 {
        display: block;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }
    section h3{
        width: 100%;
        margin: 20px auto;
        font-weight: 900;
        text-align: center;
    }
    main article{
        width: 45%;
        height: auto;
        box-shadow: 0px 0px 10px rgb(100, 100,100);
    }
    .main-img{
        width: 100%;
        height: 200px;
    }
    .main-img img{
        width: 100%;
        height: 200px;
    }
    .border-ra{
        top: 318px;
    }
}
@media screen and (min-width:769px) {
  article{
      box-shadow: 0px 0px 10px rgb(100, 100,100);
      height: 300px;
  }
  nav ul a{
      display: block;
  }
  article h5 {
    display: block;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section h3{
    width: 100%;
    text-align: center;
}
main article {
    width: 20%;
    height: auto;
}
.nav-left{
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.nav-right{
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.main-img{
    width: 100%;
    height: 300px;
}
.main-img img{
    width: 100%;
    height: 300px;
}
.border-ra{
    top: 260px;
}
.precio {
    font-size: 18px;
    width: 35%;
    padding-left: 10px;
}

.descuento{
    color: #39b54a;
    font-weight: 500;
    font-size: 16px;
    width: 65%;
}
}

/* Inicio de formulario */
.title-register{
    text-align: center;
    padding: 20px;
}
form {
    width: 90%;
    padding: 10px;
    height: auto;
    margin: 0 auto;
    background-color:#ebebeb;
    border-radius: 10px;
}
input{
    width: 100%;
    height: 35px;
    margin: 15px auto;
    padding-left: 10px;
    border-style: none;
    border-radius: 5px;
}
.perfil{
    display: flex;
    width: 80%;
    margin: 20px 0;
}
.comprador{
    height: 10px;
    margin: 0;
    align-self: center;
}
.title-profile{
    font-size: 16px;
    font-weight: 900;
}
.check-list{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.check-list input{
    width: 40%;
}
.check-list label{
    width: 60%;
}
.inter{
    height: 15px;
    display: inline;
    border-style: none;
}
button{
    border-style: none;
    background-color: rgb(63, 181, 197);
    color: #ffff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 16px;
}
@media screen and (min-width:381px){
    form{
        width: 60%;
    }
}
@media screen and (min-width:769px){
    form{
        width: 30%;
    }
}

/*  Inicio css Footer */
footer {
    background-color: #ffff;
    width: 95%;
    margin: 20px auto 0;
    padding: 15px 0;
}

.footer-one{
    text-align: center;
    margin: 40px 60px 20px;
}
.footer-one i {
    color: #0f6ed3;
    margin-bottom: 5px;
    font-size: 30px
}
.footer-one h4{
    text-decoration: none;
    font-weight: 900;
}
.footer-one p {
    font-size: 12px;
    
}
footer h6 {
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
}

@media screen and (min-width:381px){
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-one{
        width: 33%;
        padding: 0;
        margin: 0;
    }
   footer h6{
        width: 100%;
        margin: 10px auto;
    }
}
@media screen and (min-width:769px){
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-one{
        width: 33%;
        padding: 0;
        margin: 0;
    }
   footer h6{
        width: 100%;
        margin: 10px auto;
    }
}


/* Fin css foooter */

